.header {
    position: relative;
    margin-top: 23px;
    height: 92px;
    &__bg-right {
        position: absolute;
        top: 385px;
        right: 0;
    }
    &__bg-left {
        position: absolute;
        top: -23px;
    }
    &__wrapper {
        padding-top: 12px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    &__logo {
        display: flex;
        &-img {
            width: 61px;
            img {
                width: 100%;
            }
        }
    }
    &__linkToMain {
        position: relative;
    }
    &__img {
        margin: 0 20px;
        justify-self: flex-end;
        align-self: center;
        text-align: right;
    }
    &__descr {
        width: 185px;
        align-self: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: rgba(51, 26, 47, 0.9);
    }
    &__divider {
        margin-right: 20px;
        width: 1px;
        height: 80px;
        background: rgba(51, 26, 47, 0.5);;   
    }
    &__nav {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 35px;
        color: #331A2F;
    }
    &__analyst {
        cursor: pointer;
        @include linkHover;
        span {
            margin-right: 50px;
            width: 12px;
            height: 12px;
        }
    }
    &__link {
        a {
            color: #331A2F;
            text-decoration: none; 
            @include linkHover; 
        }
    }
    &__phone {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #331A2F;
        text-decoration: none;
        justify-content: flex-end;
        align-items: center;
        @include linkHover;
        &::before {
            position: absolute;
            content: url('../../img/icons/header/phone.svg');
            width: 24px;
            height: 24px;
            top: 24px;
            left: 26px;
        }
    }
    &__btn {
        margin: auto 0 auto 76px;
        padding-left: 39px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 169px;
        height: 45px;
        background: $main-color;
        border-radius: 12px;
    }
    &__logIn {
        position: relative;
        font-weight: 500;
        font-size: 23px;
        line-height: 35px;
        color: #FFFFFF;
        text-decoration: none;
        transition: all 1s;
        z-index: 2;
        &::before {
            content: url('../../img/icons/header/logIn.svg');
            position: absolute; 
            width: 23px;
            height: 23px;
            top: 5px;
            left: -37px;
            opacity: 1;
        }
        &:hover {
            color: black;
            transform: translateX(-20px);
            &::before {
                transition: all 1s;
                transform: translateX(37px);
                opacity: 0;
            }
        }
    }
}