.header {
    position: relative;
    margin-top: 23px;
    &__bg-right {
        position: absolute;
        top: 385px;
        right: 0;
    }
    &__bg-left {
        position: absolute;
        top: -23px;
    }
    &__wrapper {
        padding-top: 12px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    &__logo {
        display: flex;
        align-items: center;
        &-img {
            align-self: flex-start;
            width: 61px;
            img {
                width: 100%;
                top: -12px; 
            }
        }
    }
    &__linkToMain {
        position: relative;
    }
    &__img {
        margin: 0 20px;
        justify-self: flex-end;
    }
    &__descr {
        width: 185px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: rgba(51, 26, 47, 0.9);
    }
    &__divider {
        margin-right: 20px;
        width: 1px;
        height: 80px;
        background: rgba(51, 26, 47, 0.5);   
    }
    &__nav {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 35px;
        color: #331A2F;
        &-link {
            display: none;
        }
    }
    &__list {
        display: none;
    }
    &__analyst {
        cursor: pointer;
        @include linkHover;
        span {
            margin-right: 50px;
            width: 12px;
            height: 12px;
        }
    }
    &__link {
        a {
            color: #331A2F;
            text-decoration: none; 
            @include linkHover; 
        }
    }
    &__phone {
        position: relative;
        display: flex;
        width: 375px;
        justify-content: flex-end;
        align-items: center;
        &-link {
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            color: #331A2F;
            text-decoration: none;
            @include linkHover;
            &::before {
                position: absolute;
                content: url('../../img/icons/header/phone.svg');
                width: 24px;
                height: 24px;
                left: -35px;
            }
        }        
    }
    &__btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
            padding-left: 35px;
            width: 169px;
            height: 45px;
            background: $main-color;
            border-radius: 12px;
            border: none;
        }
    }
    &__logIn {
        position: relative;
        font-weight: 500;
        font-size: 23px;
        line-height: 35px;
        color: #FFFFFF;
        text-decoration: none;
        transition: all 1s;
        z-index: 2;
        &::before {
            content: url('../../img/icons/header/logIn.svg');
            position: absolute; 
            width: 23px;
            height: 23px;
            top: -1px;
            left: -37px;
            opacity: 1;
        }
        &:hover {
            display: block;
            color: black;
            transform: translateX(-15px);
            &::before {
                opacity: 0;
            }
        }
    }
}